*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.body {
    background-color: #545454;
}

.container {
    background-color: #545454;
    max-width: 70rem;
    min-height: 100vh;
    margin: 0 auto;
}

.mem-wrapper{
    display: flex;
    width: 400%;
    transition: 1s;
}

.mem-img {
    width: 25%;
    transition: 1s;
}

.radio-btn {
    display: none;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.text {
    font-size: 2rem;
}

.control {
    display: flex;
    gap: 5px;
}

.btn {
    width: 4rem;
    height: 0.7rem;
    border-radius: 1rem;
    background-color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(117, 113, 109);
}

#radio1:checked ~ .mem-wrapper {
    margin-left: 0;
}

#radio2:checked ~ .mem-wrapper {
    margin-left: -100%
}

#radio3:checked ~ .mem-wrapper {
    margin-left: -200%
}

#radio4:checked ~ .mem-wrapper {
    margin-left: -300%
}

#radio1:checked ~ .subtitle #btn1 {
    background-color: #292626;
}

#radio2:checked ~ .subtitle #btn2 {
    background-color: #292626;
}

#radio3:checked ~ .subtitle #btn3 {
    background-color: #292626;
}

#radio4:checked ~ .subtitle #btn4 {
    background-color: #292626;
}

  
